@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .custom-color-gray {
    color: #777;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --font-sans: Inter, sans-serif;
}
